html {
    scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  background-color: transparent;
  font-size: 18px;
  font-size: 1.8rem;
  color: #333333;
  text-rendering: optimizeLegibility;
  text-transform: lowercase;
}

.heading{
    text-align: center;
    color:#fff;
    text-transform: lowercase;
    padding-bottom: 0rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: lowercase;
}

/* header */
          header {
            background: #111;
            height: 62px;
            padding: 0 5%;
            width: 90%;
            position: fixed;
            z-index: 1000;
            /* Navigation */
          }
          header nav {
            display: none;
            background: #222222;
            position: absolute;
            top: 62px;
            right: 0px;
            z-index: 1000;
            width: 100%;
            font-size: 20px;
            font-size: 2.4rem;
            text-align: center;
          }
          header nav li {
            height: 4.4rem;
            list-style: none;
            display: block;
            border-top: #212121 solid 1px;
            border-bottom: #363636 solid 1px;
            
          }
          header nav li a {
            display: block;
            color: #212427;
            line-height: 6.4rem;
            text-decoration: none;
            text-transform: lowercase;
          }


          header {
              background: #000;
              height: 92px;
            }

            header nav {
              padding-left: 13em;
              display: block;
              font-size: 10px;
              font-size: 1.6rem;
              position: static;
              background: transparent;
              width: auto;
            }
            header nav li {
              display: inline-block;
              float: left;
              position: relative;
              height: 92px;
              border: 0px;
            }
            header nav li a {
              display: block;
              color: #FFF;
              line-height: 92px;
              padding: 0 1em;
              text-decoration: none;
            }
            header nav li:hover a,
            header nav .current_page_item a,
            header nav .current_page_parent a {
              color: #dbbadd;
            }
            header .icon-nav {
              display: none;
            }
          header nav {
              font-size: 20px;
            
            }
/* header ends */



/* home starts */
          .home{
              min-height: 100vh;
              display: flex;
              align-items: center;
              background:url(/images/bg.png) no-repeat;
              background-size: cover;
              background-position: center;
          }

          .home .content{
              max-width: 50rem;
          }


          .home .content p{
              font-size: 5rem;
              font-weight: lighter;
              color:#dbbadd;
              padding-left: 10rem;
          }
/* home ends */


/* about starts */
          
          .about{
            width: 100%;
            padding: 78px 0px;
            background-color: #121212;
            
          }

          .about img{
            height: auto;
            width: 420px;
            border-radius: 5%;

          }

          .about-text{
            width: 550px;
            color: #fff;
            line-height:0.2;
          }



          .about-text p{
            font-size: 1rem;
            line-height:1.5;
          }

           .about-text a:link, a:visited {
            background-color: #be92a2;
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            border-radius: 30px;
            font-size: 1.2rem;
          }

          .about-text a:hover, a:active {
            background-color: black;
          }

          .main{
            width: 1130px;
            max-width: 95%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-around;
          }


/* about ends */


        .skills{
                    width: 100%;
                    background-color: #121212;
                    color: #fff;
                    padding-top: 5rem;
                    padding-bottom: 5rem;
                    justify-content: center;
                    align-items: center;
                    margin: auto;       
                    
                  }
        
        .skills h1{
          text-align: center;
        }   

          .skills_section{
            box-sizing: border-box;
              width: 100%;
              height: 50vh;
              padding: 0px 13%;
              background-color: rgba(0, 0, 0, 0.082);
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
          }

          .skills_main{
              width: 90%;
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              grid-row-gap: 10px;
              grid-column-gap: 50px;
          }
          .skills_main .skill_bar .info{
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding:  0 10px;
          }

          .skill_bar .info p{
            font-size: 1.5rem;
          }

          .skill_bar .info p:nth-child(2){
              font-weight: 500;
          }
          .skill_bar .bar{
              width: 100%;
              height: 10px;
              background-color: #fff;
              border-radius: 25px;
              margin-top: 5px;
              position: relative;
          }
          .skill_bar .bar span{
              width: 50%;
              height: 100%;
              position: absolute;
              background-color: #be92a2;
              border-radius: 25px;
          }
          .skill_bar .bar .html{
              width: 90%;
              animation: html 2s;
          }
          @keyframes html {
              0%{
                  width: 0%;
              }100%{
                  width: 90%;
              }
          }
          .skill_bar .bar .css{
              width: 85%;
              animation: css 2s;
          }
          @keyframes css {
              0%{
                  width: 0%;
              }100%{
                  width: 85%;
              }
          }
          .skill_bar .bar .sass{
              width: 80%;
              animation: sass 2s;
          }
          @keyframes sass {
              0%{
                  width: 0%;
              }100%{
                  width: 80%;
              }
          }
          .skill_bar .bar .js{
              width: 80%;
              animation: css 2s;
          }
          @keyframes js {
              0%{
                  width: 0%;
              }100%{
                  width: 80%;
              }
          }
          .skill_bar .bar .react{
              width: 75%;
              animation: react 2s;
          }
          @keyframes react {
              0%{
                  width: 0%;
              }100%{
                  width: 75%;
              }
          }
          .skill_bar .bar .node{
              width: 70%;
              animation: node 2s;
          }
          @keyframes node {
              0%{
                  width: 0%;
              }100%{
                  width: 70%;
              }
          }
          .skill_bar .bar .express{
              width: 65%;
              animation: express 2s;
          }
          @keyframes express {
              0%{
                  width: 0%;
              }100%{
                  width: 65%;
              }
          }
          .skill_bar .bar .mongo{
              width: 60%;
              animation: mongo 2s;
          }
          @keyframes mongo {
              0%{
                  width: 0%;
              }100%{
                  width: 60%;
              }
          }




          .projects{
            width: 100%;
            background-color: #fff;
          }




/* columns for page */
  .row,
  .content .row {
    clear: both;
    max-width: 1040px;
    margin: 0 auto;
  }
  .row.alt [class^="col-"] {
    float: right;
    margin: 0 0 0 3.84615385%;
  }
  [class^="col-"] {
    float: left;
    margin: 0 3.84615385% 0 0;
    list-style: none;
    position: relative;
  }
  [class^="col-"]:last-child,
  .row.alt [class^="col-"]:last-child {
    margin: 0;
  }
  .col-1 {
    width: 4.80769231%;
  }
  .col-2 {
    width: 13.46153846%;
  }
  .col-3 {
    width: 22.11538462%;
  }
  .col-4 {
    width: 30.76923077%;
  }
  .col-5 {
    width: 39.42307692%;
  }
  .col-6 {
    width: 48.07692308%;
  }
  .col-7 {
    width: 56.73076923%;
  }
  .col-8 {
    width: 68.39461638%;
  }
  .col-9 {
    width: 75.03846154%;
  }
  .col-10 {
    width: 82.69230769%;
  }
  .col-11 {
    width: 91.34615385%;
  }
  .col-12 {
    width: 100%;
    margin: 0;
  }
