.article {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.article-header {
    margin-bottom: 30px;
    text-align: center;
}

.article-title {
    margin: 0;
    font-size: 2.5rem;
}

.article-title1 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.article-details {
    margin-top: 0;
    font-size: 1rem;
    color: #777;
}

.article-divider {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin-bottom: 30px;
}

.article-image {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    height: auto;
}

.article-content {
    line-height: 1.5;
    margin-top: 30px;
    text-align: justify;
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags li {
  float: left; 
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #a1aacf;
  color: white;
}

.tag:hover::after {
   border-left-color: #a1aacf; 
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

